@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

.silkscreen-regular {
  font-family: "Silkscreen", serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", serif;
  font-weight: 700;
  font-style: normal;
}

.smol {
  font-size: 0.75em;
}

.right {
  text-align: right;
}

:root {
  --portrait-small-h: 124px;
  --portrait-small-w: 102px;
  --portrait-medium-w: var(--portrait-small-w);
  --portrait-medium-h: var(--portrait-small-h);
  --portrait-large-w: var(--portrait-small-w);
  --portrait-large-h: var(--portrait-small-h);
  --deep-purple: #23213d;
  --dark-grey: #57546f;
  --whitish: #f2f2f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("light-checkerboard.png");
  background-size: 64px 64px;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: 0 0;
  will-change: background-position;
  transition: background-position 0.5s ease-out;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.okeska {
  background-color: var(--deep-purple);
  border-radius: 0.5rem;
  border: 3px solid var(--dark-grey);
  outline: 2px solid var(--whitish);
  box-shadow: 0 0 0 6px var(--deep-purple);
}

.h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: 0.75em;
  color: var(--whitish);
}

.h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin: 1em auto;
  color: var(--whitish);
  width: 90%;
}

.navigation {
}

.navigation .nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  margin: 1em;
  list-style: none;
  min-height: calc(100vh - 2 * var(--portrait-small-h));
  scroll-behavior: smooth;
}

.navigation .nav-item {
  text-align: center;
}

.navigation .nav-item .nav-anchor {
  display: block;
  text-decoration: none;
  color: var(--whitish);
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
  height: 3em;
}

.section {
  scroll-margin-top: 1.1em;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
  list-style: none;
  min-height: calc(100vh - 2 * var(--portrait-small-h));
}

.about {
  justify-content: flex-start;
  color: var(--whitish);
  padding: 1em;
  min-height: 0px;
}

.about p {
  padding: 0.5em 0;
  font-size: 0.75em;
} 

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
}

.project-card {
  list-style: none;
  margin: 1em;
  padding-bottom: 1em;
}

.project-img {
  display: block;
  image-rendering: auto;
  image-rendering: smooth;
  border-radius: 0.4em;
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: var(--whitish);
}

.project-description {
  padding: 1em;
  font-size: 0.5em;
  text-align: left;
  color: var(--whitish);
}

.project-card .project-description {
  font-size: 0.75em;
  margin-bottom: 1em;
}

.project-anchor {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  color: var(--whitish);
  width: 100%;
  text-decoration: none;
  background-color: var(--dark-grey);
  padding: 0.5em;
  border-radius: 0.5em;
  margin-left: 1em;
}

.source-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  color: var(--whitish);
  padding: 1em;
}

.source-anchor {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  color: var(--whitish);
  width: 80%;
  text-decoration: none;
  background-color: var(--dark-grey);
  padding: 0.5em;
  border-radius: 0.5em;
  margin: 0.5em auto;
}

.contact-content {
  min-height: 0;
  color: var(--whitish);
  padding: 1em;
}

.contact-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 1em;
}

.contact-list li {
  margin: 1em;
}

.contact-content a {
  color: var(--whitish);
  text-decoration: none;
  background-color: var(--dark-grey);
  padding: 0.5em;
  border-radius: 0.5em;
}


.footer-pad {
  display: block;
  height: var(--portrait-small-h);
}

.portrait-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--portrait-small-h);
  display: flex;
  flex-direction: row-reverse;
}

.portrait {
  width: var(--portrait-small-w);
  height: var(--portrait-small-h);
}

.portrait img {
  padding: 0;
  margin: 0;
  image-rendering: pixelated;
  image-rendering: crisp-edges; /* For better support */
  height: var(--portrait-small-h);
  width: var(--portrait-small-w);
  filter: drop-shadow(3px 0px 0.5em rgba(35, 33, 61, 1));
}

.speech-bubble {
  margin: 1em;
  flex: 1;
  background-color: var(--deep-purple);
  border-radius: 1em;
  border: 3px solid var(--dark-grey);
  outline: 2px solid var(--whitish);
  box-shadow: 0 0 0 6px var(--deep-purple);
  padding: 0.2em 0.5em;
  color: var(--whitish);
  font-size: 0.75em;
}

/* Media Queries */
/* Big Screens */
@media (min-width: 1024px) {
  body {
    width: 25%;
    margin: 0 auto;
  }

  .footer-pad {
    display: block;
    height: var(--portrait-large-h);
  }

  .portrait-container {
    left: 75%;
    margin: 0 auto;
    width: 25%;
    height: var(--portrait-large-h);
  }

  .portrait {
    height: var(--portrait-large-h);
  }

  .portrait img {
    height: var(--portrait-large-h);
    width: var(--portrait-large-w);
  }

  .speech-bubble {
    font-size: 0.75em;
  }
}

/* Medium Screens */
@media (min-width: 768px) and (max-width: 1023px) {
  .footer-pad {
    display: block;
    height: var(--portrait-medium);
  }

  .portrait-container {
    height: var(--portrait-medium);
  }

  .portrait {
    height: var(--portrait-medium);
  }

  .portrait img {
    height: var(--portrait-medium);
    width: var(--portrait-medium);
  }
}
